#changelog li { padding-bottom:0.5em; }
.singleChangelog { border-top:1px solid #fcfcfc; border-bottom:1px solid #E0E0E0; padding:2em 0; }
.singleChangelog:first-of-type { border-top:none; padding-top:0; }
.singleChangelog:last-of-type { border-bottom:none; padding-bottom:0; }
/*.singleChangelog.closed > ul { display:none; }*/ /* only via JS */

body.js .singleChangelog h3 {
	cursor:pointer;
	padding:2px 4px;
	text-decoration:none;
}
body.js .singleChangelog h3:hover, body.js .singleChangelog h3:focus {
	color: #FC0;
}
body.js .singleChangelog h3:active {
	background-color:#FC0;
	color:#333;
}

.singleChangelog .changelogContent.closed { display:none; }

.singleChangelog ul { margin-left:0; padding-left:0; }
.singleChangelog ul li { list-style-position:outside; margin-left:1.25em; }

.singleChangelog dl { padding-bottom:1em; vertical-align:top; } 
.singleChangelog dt { cursor:default; display:inline-block; margin-top:10px; position:relative; top:5px; vertical-align:top; width:0; }
.singleChangelog dt.new, .singleChangelog dt.fix, .singleChangelog dt.bug, .singleChangelog dt.change { 
	border-radius:1px;
	color:#F0F0F0;
	font-size:12px;
	height:20px;
	line-height:14px;
	margin-right:1%;
	padding:3px 2px;
	text-align:center;
	text-transform:uppercase;
	width:9%;
}
.singleChangelog dt.new    { background-color:#2c9dc6; }
.singleChangelog dt.fix    { background-color:#42c62c; }
.singleChangelog dt.bug    { background-color:#b82b0a; }
.singleChangelog dt.change { background-color:#FC0; color:#333; }
.singleChangelog dd { border-top:1px dashed #ccc; display:inline-block;  padding:10px 0; width:88%; }
.singleChangelog dd:first-of-type { border-top:none;}

/* IMAGES *
.singleChangelog ul li.new    { list-style-image:url(../img/changelogIcons_01.png); margin-left:44px; }
.singleChangelog ul li.fix    { list-style-image:url(../img/changelogIcons_02.png); margin-left:44px; }
.singleChangelog ul li.bug    { list-style-image:url(../img/changelogIcons_03.png); margin-left:44px; }
.singleChangelog ul li.change { list-style-image:url(../img/changelogIcons_04.png); margin-left:44px; }
/**/

/*#changelog h3 { display:inline-block; }*/

/* .singleChangelog.closed ul { display:none; } */
