#changelog li { padding-bottom:0.5em; }
.singleChangelog { border-top:1px solid #fcfcfc; border-bottom:1px solid #E0E0E0; padding:2em 0; }
.singleChangelog:first-of-type { border-top:none; padding-top:0; }
.singleChangelog:last-of-type { border-bottom:none; padding-bottom:0; }
/*.singleChangelog.closed > ul { display:none; }*/ /* only via JS */

body.js .singleChangelog h3 {
	cursor:pointer;
}
body.js .singleChangelog h3:hover, body.js .singleChangelog h3:focus {
	color: #FC0;
}
body.js .singleChangelog h3:active {
	background-color:#FC0;
	color:#333;
}

.singleChangelog .changelogContent.closed { display:none; }

.singleChangelog ul { margin-left:0; padding-left:0; }
.singleChangelog ul li { list-style-position:outside; margin-left:1.25em; }

.singleChangelog > ul > li {
	border-top:1px solid rgba(0,0,0,0.25);
	list-style:none;
	margin-left:0;
	padding:0.5em 0 0.5em 4em;
	position:relative;
}
.singleChangelog > ul > li:first-of-type { border-top:none;}
.singleChangelog > ul > li:before {
	color:#F0F0F0;
	cursor:default; 
	display:block;
	font-size:0.8em;
	font-weight:500;
	left:0;
	line-height:1.2em;
	padding:0.33em 0.1em;
	position:absolute;
	text-align:center;
	text-transform:uppercase;
	top:0.7em;
	width:4em;
}

.singleChangelog li.change:before {
	content:'change';
	background-color:#FC0;
	color:#333;
}
.singleChangelog li.fix:before {
	content:'fix';
	background-color:#42C62C;
}
.singleChangelog li.new:before {
	content:'new';
	background-color:#2C9dC6;
}
.singleChangelog li.bug:before {
	content:'bug';
	background-color:#B82B0A;
}

@media only screen and (max-width: 950px) {
	.singleChangelog > ul > li {
		padding-left:2em;
	}
	.singleChangelog > ul > li:before {
		width:1.5em;
	}
	.singleChangelog li.change:before {
		content:'c';
	}
	.singleChangelog li.fix:before {
		content:'f';
	}
	.singleChangelog li.new:before {
		content:'n';
	}
	.singleChangelog li.bug:before {
		content:'b';
	}
}
