@charset "UTF-8";

#navSidebar {
	padding:0;
	margin:0;
	border:0;
	line-height:1;
}
#navSidebar ul,
#navSidebar ul li,
#navSidebar ul ul {
	list-style:none;
	margin:0;
	padding:0;
}
#navSidebar ul {
	position:relative;
	z-index:597;
	float:left;
}
#navSidebar ul li {
	float:left;
	min-height:1px;
	line-height:1em;
	vertical-align:middle;
	position:relative;
}
#navSidebar ul li.hover,
#navSidebar ul li:hover {
	position:relative;
	z-index:599;
	cursor:default;
}
#navSidebar ul ul {
	visibility:hidden;
	position:absolute;
	top:100%;
	left:0px;
	z-index:598;
	width:100%;
}
#navSidebar ul ul li {
	float:none;
}
#navSidebar ul ul ul {
	top:-2px;
	right:0;
}
#navSidebar ul li:hover > ul {
	visibility:visible;
}
#navSidebar ul ul {
	top:1px;
	left:99%;
}
#navSidebar ul li {
	float:none;
}
#navSidebar ul ul {
	margin-top:1px;
}
#navSidebar ul ul li {
	font-weight:normal;
}
/* Custom CSS Styles */
#navSidebar {
	zoom:1;
}
#navSidebar:before {
	content:'';
	display:block;
}
#navSidebar:after {
	content:'';
	display:table;
	clear:both;
}
#navSidebar a {
	display:block;
	padding:0.7em 1em;
	text-decoration:none;
}
#navSidebar > ul {
	width:70%;
}
#navSidebar ul ul {
	width:100%;
}
#navSidebar > ul > li > a {
	border-right:4px solid #FC0;
}
#navSidebar > ul > li > a:hover {
	/*color:#ffffff;*/
}
#navSidebar > ul > li.active a {
	background:#FC0;
}
#navSidebar > ul > li a:hover,
#navSidebar > ul > li:hover a {
	background:#FC0;
}
#navSidebar li {
	position:relative;
}
#navSidebar ul li.has-sub > a:after {
	content:'+';
	position:absolute;
	top:50%;
	right:1em;
	margin-top:-0.6em;
}
#navSidebar ul ul li.first {
	-webkit-border-radius:0 3px 0 0;
	-moz-border-radius:0 3px 0 0;
	border-radius:0 3px 0 0;
}
#navSidebar ul ul li.last {
	-webkit-border-radius:0 0 3px 0;
	-moz-border-radius:0 0 3px 0;
	border-radius:0 0 3px 0;
	border-bottom:0;
}
#navSidebar ul ul {
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
}
#navSidebar ul ul {
	border:1px solid #DA0;
}
#navSidebar ul ul a {
	font-size:0.8em;
}
#navSidebar ul ul li {
	border-bottom:1px solid #DA0;
}
#navSidebar ul ul li:hover > a {
	background:#DA0;
}
#navSidebar.align-right > ul > li > a {
	border-left:4px solid #FC0;
	border-right:none;
}
#navSidebar.align-right {
	float:right;
}
#navSidebar.align-right li {
	text-align:right;
}
#navSidebar.align-right ul li.has-sub > a:before {
	content:'+';
	position:absolute;
	top:50%;
	left:15px;
	margin-top:-6px;
}
#navSidebar.align-right ul li.has-sub > a:after {
	content:none;
}
#navSidebar.align-right ul ul {
	visibility:hidden;
	position:absolute;
	top:0;
	left:-100%;
	z-index:598;
	width:100%;
}
#navSidebar.align-right ul ul li.first {
	-webkit-border-radius:3px 0 0 0;
	-moz-border-radius:3px 0 0 0;
	border-radius:3px 0 0 0;
}
#navSidebar.align-right ul ul li.last {
	-webkit-border-radius:0 0 0 3px;
	-moz-border-radius:0 0 0 3px;
	border-radius:0 0 0 3px;
}
#navSidebar.align-right ul ul {
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
}
